body{

    display:flex;
align-items:center;
justify-content: center;
/* fixe la hauteur à 200 pixels */
overflow: hidden;
width: 50%; /* fixe la largeur à 50% de la largeur de l'élément parent */
  height: 50%; /* fixe la hauteur à 50% de la hauteur de l'élément parent */
} /* masque le contenu qui dépasse la taille de l'élément */

